body {
	margin: 0;
	padding: 0 15px;
	font-family: noto;
	box-sizing: border-box;
	min-height: 100%;
	background: url('../public/img/react.webp') no-repeat;
	background-position: center center;
}

#root { // root란? 리액트 앱이 element를 추가하고 추적하는 최상위 레벨의 데이터 구조이다.
	min-height: 100%;
}

html {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
